@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Silkscreen:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Silkscreen', sans-serif;
    box-sizing: border-box;
}
#video-background {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}
/* .container
{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, rgb(119, 21, 77), #9226ad);
    padding: 10px;
} */
.to_do_app {
    width: 100%;
    max-width: 540px;
    background: transparent;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    border: 1.5px solid white; /* Set border color to white */
    backdrop-filter: blur(1px); /* Adjust the blur amount as needed */
}
.to_do_app h2
{
    color: rgb(81, 255, 0);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.to_do_app h2 img
{
    width: 30px;
    margin-left: 10px;
}
.row
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input
{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    color: rgb(0, 0, 0);
}
.container button
{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: rgb(29, 213, 12);
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
.container button:hover
{
    background-color: #045322;
    color: white;
}
ul li
{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    color: azure;
}
ul li::before
{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50px;
    background-image:url(unchecked.png) ;
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked
{
    color: rgb(179, 255, 0);
    text-decoration: line-through;
}
ul li.checked::before
{
    background-image: url(checked.png);
}
ul li span
{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: rgb(255, 0, 0);
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover
{
    background-color: rgb(244, 244, 244);

}



.logo
{
    width: 100px;
}
.containers
{
    padding: 10px 10%;
}
.containers nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containers nav a {
    color: #333;
    text-decoration: none;
    margin-right: 20px;
    font-size: 16px;
    font-weight: bold;
}

.containers nav a:hover {
    color: #04E824;
}

.containers #sidemenu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.containers #sidemenu li {
    margin-right: 15px;
}

.containers #sidemenu i {
    font-size: 20px;
    cursor: pointer;
}


.containers button {
    border: none;
    outline: none;
    padding: 16px 30px;
    background: rgb(213, 32, 12);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;

    /* Position the button in the lower right corner */
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.containers button:hover
{
    background-color: rgb(51, 255, 10);
    color: black;
}